body  {
  background-color: purple;
  color: green;
  text-color: magenta;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  text-transform: bold;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  background-color: rgba(0,0,0,0.1)
}

.line-height {
  line-height: 1px;
}
